@import "tailwindcss";

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-Black.woff2") format("woff2"),
    url("/fonts/SofiaPro-Black.woff") format("woff");
  font-weight: 900; /* adjust if it's Bold/Black */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-ExtraLight.woff2") format("woff2"),
    url("/fonts/SofiaPro-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-Bold.woff2") format("woff2"),
    url("/fonts/SofiaPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro.woff2") format("woff2"),
    url("/fonts/SofiaPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-Light.woff2") format("woff2"),
    url("/fonts/SofiaPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-Medium.woff2") format("woff2"),
    url("/fonts/SofiaPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-Italic.woff2") format("woff2"),
    url("/fonts/SofiaPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-SemiBold.woff2") format("woff2"),
    url("/fonts/SofiaPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/SofiaPro-UltraLight.woff2") format("woff2"),
    url("/fonts/SofiaPro-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 450px;
  --breakpoint-sm: 575px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1200px;
  --font-color: #000;
  --white-color: #fff;
  --dark-color: #000;
  --primary-color: #2050e4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #000;
  /* background: var(--background); */
  color: var(--foreground);
  font-family: "Sofia Pro";
}
