header {
  padding: 30px 0;
    z-index: 9;
}

header.header-fixed {
  background-color: #000;
}

.logo-col a {
  letter-spacing: -1.05px;
  font-size: 32px;
  font-weight: 600;
}

header .navLinks {
  padding: 15px 32px;
  gap: 20px;
  border-radius: 81px;
  position: relative;
  border-radius: 45px;
}

header .navLinks a {
  color: rgba(255, 255, 255, 0.39);
  font-size: 16px;
  font-weight: 400;
  transition: opacity 0.2s ease;
}


header .navLinks ul {
  gap: 48px;
}

header .navLinks ul li {
  position: relative;
}

header .navLinks a:hover {
  opacity: 0.8;
}

.loc-btn {
    padding: 15px 30px;
    border-radius: 45px;
    color: rgba(255, 255, 255, 0.39);
    transition: opacity 0.2s ease;
}

.loc-btn .head-dropdown {
  left: unset;
  right: -20px;
}