footer .container {
  padding: 50px;
  /* border-radius: 57px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 38.9px 11px rgba(255, 255, 255, 0.72) inset,
    11px 11px 48.6px 0 rgba(0, 0, 0, 0.05); */
}

footer .footerRow {
  gap: 70px;
}

footer .footerMenu li {
  list-style-type: none;
}

footer .footerMenu li a {
  /* color: var(--font-color); */
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.48px;
  line-height: 36px;
  transition: 0.2s cubic-bezier(0.12, 0, 0.39, 0);
  color: #fff;
}

footer .footerMenu li a:hover {
  /* color: var(--primary-color); */
}

footer .footerMenu h4 {
  margin-bottom: 20px;
}

footer .btn-download a{
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  /* background: rgba(255, 255, 255, 0.43);
  box-shadow: 0 11px 13.5px 0 rgba(0, 0, 0, 0.06), 0 4px 5.9px 0 #fff inset; */
  width: 185px;
  /* margin: auto; */
  margin-bottom: 10px;
}

footer .copyTxt {
    padding-top: 40px;
}

footer .copyTxt p {
    font-size: 16px;
    font-weight: 300;
    /* color: var(--font-color); */
}

footer .social-menu {
  list-style-type: none;
  gap: 20px;
  align-items: center;
}

footer .social-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .social-menu li a img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  vertical-align: bottom;
  object-position: center;
  transition: 0.3s cubic-bezier(0.12, 0, 0.39, 0);
}

footer .social-menu li a img:hover {
filter: brightness(0) saturate(100%) invert(23%) sepia(84%) saturate(3432%) hue-rotate(224deg) brightness(91%) contrast(95%);
}

/*************Responsive Styles*****************/
/***************iPhone Portrait**************/
@media only screen and (max-width: 479px) and (min-width: 320px) {
}

/**********************iPhone Landscape*************/
@media only screen and (max-width: 768px) and (min-width: 480px) {
}

/*************************iPad Portrait***************/
@media only screen and (max-width: 985px) and (min-width: 768px) {
}

/**************iPad Landscape***************/
@media only screen and (max-width: 1024px) and (min-width: 986px) {
}
/*******************************************/


@media only screen and (max-width: 768px) {

    footer .container {
      padding: 30px;
    }

    footer .footerRow {
      gap: 30px;
    }

    footer .footerMenu li a {
      font-size: 15px;
    }

    footer .footerMenu h4 {
      font-size: 18px;
      line-height: normal;
      margin-bottom: 5px;
    }

    footer .footerMenu .btn-col {
      display: flex;
      gap: 15px;
      margin-top: 18px;
    }

    footer .footerMenu .btn-col img {
      width: 85px;
      max-width: 85px;
    }

    footer .btn-download a {
      width: fit-content;
      padding: 10px 18px;
    }

    footer .copyTxt {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 35px;
    }

    footer .copyTxt {
      padding-top: 30px;
      border-top: 1px solid #000;
      margin-top: 30px;
    }

    footer .copyTxt p {
      font-size: 12px;
    }

}